@use 'variables' as *;
@use '../mixins/' as *;

.bg1,
.bg2 {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg1 {
    z-index: -10;
    background-color: $color-bg1;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
    @include mq-bk-extra-grande {
        clip-path: $clip-path-1;
    }
}

.bg2 {
    z-index: -20;
    background-color: $color-bg-2;
    @include mq-bk-extra-grande {
        clip-path: $clip-path-2;
    }
}