@use 'variables' as *;
@use '../mixins/' as *;

.izquierda {
    margin: 1rem .5rem;
    text-align: center;
    @include flexbox-centrado-total(column);
    @include mq-bk-extra-grande {
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
    }
}

.features {
    list-style-type: none;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2rem;
        margin-bottom: 2rem;
        background-color: lighten($color-dark, 20%);
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 
                    0 6px 6px rgba(0, 0, 0, 0.23);
    }
    &__encabezado {
        color: $color-complementario-1;
        margin-bottom: .5rem;
        text-align: center;
    }
    &__texto {
        color: $color-light;
    }
}