@import url('https://fonts.googleapis.com/css?family=Montserrat');
$fuente-principal: 'Montserrat', sans-serif;
$color-principal: #f44336;
$color_alt-1:  #b21f12;
$color-complementario-1: #00b24f;
$color-light: #fff;
$color-dark: #333;
$color-corporativo: $color-principal;
$color-bg1: $color-principal;
$color_bg-2: $color_alt-1;
$bk-extra-grande: 1200px;
$clip-path-1: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
$clip-path-2: polygon(70% 69%, 100% 20%, 100% 100%, 5% 100%);