$fuente-principal: 'Montserrat', sans-serif;
$color-principal: hsl(4, 90%, 58%);
$color_alt-1:  hsl(5, 82%, 38%);
$color-complementario-1: hsl(147, 100%, 35%);
$color-light: hsl(0, 0%, 100%);
$color-dark: hsl(0, 0%, 20%);
$color-corporativo: $color-principal;
$color-bg1: $color-principal;
$color_bg-2: $color_alt-1;
$bk-extra-grande: 1200px;
$clip-path-1: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
$clip-path-2: polygon(70% 69%, 100% 20%, 100% 100%, 5% 100%);