@use '../partials/variables' as *;

@mixin mq-bk-cell-landscape {
    @media (min-width: $bk-cell-landscape) {
        @content
    }
}

;
@mixin mq-bk-tablet {
    @media (min-width: $bk-tablet) {
        @content
    }
}

;
@mixin mq-bk-grande {
    @media (min-width: $bk-grande) {
        @content
    }
}

;
@mixin mq-bk-extra-grande {
    @media (min-width: $bk-extra-grande) {
        @content
    }
}
