- let descripcion = 'Un landing site con el proṕosito de ver las posibilidades del uso de clip-path para generar backgrounds diferentes'
- let nombreSite = 'Landing Site'
- let nombrePagina = ''
- let mainCss= 'css/estilos.min.css' 
